* {
	text-shadow: none;
}
#no-border-list li {
	border: 0px;
	background: transparent;
}

#services_background {
	width: 100%;
}

#home_background {
	width: 100%;
}



#logo_container {
	text-align: center;
}
#main_logo {
	width: 50%;
}

#services_containter {
	position: relative;
}

#our_services {
	/*background-color: rgba(0,113,79,0.7);*/
	background: -moz-linear-gradient(left,  rgba(0,113,79,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,113,79,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,113,79,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,113,79,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,113,79,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,113,79,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00714f', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 80%;
}

#our_services #services_background {
	position: absolute;
	bottom: 0;
}

#our_services h4, #our_services p {
	margin: 0;
	padding: 0;
}

.logo_text {
	width: 100%;
}

#social_div {
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid white;
	padding-bottom:5px;
}

.social_logo {
	width: 20%;
	display:inline-block;
}